#Frontend
Frontend/node_modules
Frontend/dist
Frontend/dist-ssr
Frontend/*.local
Frontend/.env
Frontend/.env.test
Frontend/.env.production


#Backend
Backend/node_modules
Backend/.env
Backend/.env.test
Backend/.env.production